.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  text-align: center;
  a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: #000;
    padding: 0 10px 0 60px;
    background: #eee;
    background: linear-gradient(#fff, #eee);
    position: relative;
    &:first-child {
      padding-left: 46px;
      border-radius: 5px 0 0 5px;
    }
    &:first-child:before {
      left: 14px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
      padding-right: 20px;
    }
    &.active, &:hover {
      background: linear-gradient(#ccc, #eee);
      &:after {
        background: linear-gradient(135deg, #888, #ccc);
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -18px;
      width: 36px;
      height: 36px;
      transform: scale(0.707) rotate(45deg);
      z-index: 1;
      background: linear-gradient(145deg, #ccc, #ddd);
      box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.4), 3px -3px 0 2px rgba(0, 0, 0, 0.1);
      border-radius: 0 5px 0 50px;
    }
    &:last-child:after {
      content: none;
    }
    &:before {
      content: counter(flag);
      counter-increment: flag;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin: 8px 0;
      position: absolute;
      top: 0;
      left: 30px;
      background: linear-gradient(#ccc, #cff);
      font-weight: bold;
    }
  }
}
