mat-sidenav-container{
  height: 100vh;
}
mat-sidenav {
  min-width: 280px;
}
mat-sidenav-content{
  overflow-y: auto;
  overflow-x: hidden;
}
.open-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  border-radius: 0 50% 50% 0;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(153, 72, 206, 0.3);
  transition: all 200ms;
  &:hover{
    color: #673ab7;
  }
  &.opened{
    background-color: rgba(128, 146, 146, 0.3);
  }
}
