mat-sidenav-container{
  min-height: 100vh;
}
mat-sidenav {
  min-width: 280px;
}
mat-sidenav-content{
  padding: 30px 20px;
}
.open-menu {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 10000;
}
